
<h2>Notice</h2>
<% @notices.each do |notice|%>
	<% if notice.infotype == 0 %>
		<%= find_user(notice.user_id).nickname %> submitted a new application 
			as <%= find_temp_place(notice.temp_place_id).name%>
	<% elsif notice.infotype == 1 %>
		<%= find_user(notice.user_id).nickname %> submitted a update application 
			for <%= find_temp_place(notice.temp_place_id).name%> 
			as <%= find_place(notice.place_id).name%>
	<% elsif notice.infotype == 2 %>
		<%= find_place(notice.place_id).name%> has been  created
		by <%= find_user(notice.user_id).nickname %>, 
		Auditor: <%= find_user(notice.admin_id).nickname %>
	<% elsif notice.infotype == 3 %>
		Place <%= find_place(notice.place_id).name%> has been  updated
		by user :<%= find_user(notice.user_id).nickname %>, 
		Auditor: <%= find_user(notice.admin_id).nickname %>
	<% else %>
		Congratulations!
		User <%= find_user(notice.user_id).nickname %> upgraded to the administrator.
	<% end %>
	<br>
<% end %>

<div style = "width: 100%; height: 1000px">
</div>






<style>
	.name :focus {
		outline: -webkit-focus-ring-color auto 5px;
	}
	.index-nav {
		display: none;
		position: fixed;
		width: 48px;
		z-index: 90;
		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.index-nav .border {
		position: absolute;
		height: 100%;
		width: 100%;
		top: -3px;
		border: 3px solid #fafafa;
		left: -3px;
		border-radius: 4px;
		display: none;
	}

	.index-nav .nav-list {
		position: relative;
		z-index: 233;
		background-color: #f6f9fa;
		border: 1px solid #e5e9ef;
		overflow: hidden;
		border-radius: 4px;
	}
	.index-nav .n-i {
		cursor: pointer;
	}
	.index-nav .pointer-block {
		position: absolute;
		width: 48px;
		height: 32px;
		margin-left: -1px;
		background: #00a1d6;
		z-index: -1;
		transition: .1s all linear;
		display: none;
	}

	.index-nav .n-i.customize {
		padding: 8px 0;
		border-top: 1px solid #e5e9ef;
	}
	.index-nav .n-i {
	cursor: pointer;
	}
	.index-nav .n-i:first-child {
	border-top: 0;
	}

	.index-nav .n-i.on .name {
	color: #fff;
	}
	.index-nav .n-i .name {
		height: 32px;
		line-height: 32px;
		transition: .1s linear;
		transition-property: background-color,color;
		}
		.index-nav .n-i.gotop {
		border: 0;
		position: relative;
		z-index: 50;
	}

</style>



<style type="text/css">
	#top_div{ 
	  position:fixed; 
	  bottom:80px; 
	  right:0; 
	  display:none; 
	} 
</style> 
<script type="text/javascript"> 
	window.onscroll = function(){ 
	  var t = document.documentElement.scrollTop || document.body.scrollTop; 
	  var top_div = document.getElementById( "top_div" ); 
	  if( t >= 300 ) { 
	    top_div.style.display = "inline"; 
	  } else { 
	    top_div.style.display = "none"; 
	  } 
	} 
</script> 
<a name="top">顶部<a> 
<div id="top_div"><a href="#top">返回顶部</a></div> 
<br /> 
<br /> 
<div> 
这里尽量多些<br />以便页面出现滚动条，限于篇幅本文此处略去 
</div>



