<%= stylesheet_link_tag		"main.css", :media => "all" %>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
		<%= image_tag("bg1.jpg", width: "100%", height: "100%") %>
</div>
<%= provide(:nobanner, "True") %>

<h1>Submitted Update Information</h1>

<div style = "width:80%; background-color: rgba(0, 255, 255, 0.1)">
	<div class = "row">
		<div class = "col-md-12">
			<h2><%= @temp_place.name %></h2>
			<hr>
			Reason: <%= @temp_place.reason %>
			<hr>
			<div = class = "row">
				<div class = "col-md-6" style = "overflow:hidden">
					<%= image_tag(@temp_place.avatar_url(:bigest), :style => "max-width:90%") if @temp_place.avatar%> <br/>
					<a data-toggle="modal" href="#showimg" class="btn">view original image</a>
				</div>
				<div class = "col-md-6">
					<div class = "row"	style = "margin: 0em 3em">
						<div class = "col-md-6">
							Maker: <%=@temp_place.user.email%>
							Classify:<%= @temp_placeclassifyname %>
						</div>
						<div class = "col-md-6">
							<a href = "#showinmap" class = " btn btn-default">Show it in map </a>
						</div>
					</div>
					<br>
					<div class="panel panel-default" style = "text-align:left; margin: 0em 2em">
						<div class="panel-heading">
							<h3 class="panel-title">Introduction</h3>
						</div>
						<div class="panel-body">
							<%=@temp_place.intro %>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<div id = "showinmap" class = "row">
		<br/><br/>
		<div id="showmap" class = "col-md-8"
							style="width: 600px; 
									height: 400px;
									margin: auto auto auto 2em; 
									border: 1px solid gray;
									overflow:hidden;">
		</div>
		<div class = "col-md-4">
			<div id="r-result" class = "row" style = "margin: 0em 4em">
				<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Choose Map Style</span>
					<select id="stylelist" onchange="changeMapStyle(this.value)" 
						style = "width: 8em" class = "form-control btn btn-default"
						 aria-describedby="basic-addon1"></select>
				</div>
			</div>	
		</div>
	</div>

</div>

<hr>
<div class = "">
	<% if !current_user.nil? and current_user.authority == 1%>
		<% if ( @temp_place.state == -1 or (@temp_place.state == 0 and 
				!@temp_place.place.nil? and temp_place.applptype == 0) )%>
			The origin has been deleted, you cann't accept it. <br>
		<% elsif (@temp_place.state == 0) %>
			<%= link_to "Accept It", auditapply_url(@temp_place), :method => :post,	:class => "btn btn-success btn-lg"%>
			&nbsp; &nbsp; 	<%= link_to "Reject It", auditapply_url(@temp_place), :method => :put,	:class => "btn btn-danger btn-lg"%>
		<% elsif	@temp_place.state == 1%>
			<h3>It has been acceted!</h3>
		<% elsif @temp_place.state == -2%>
			<h3> It has been rejected, do you want to accept it now?</h3>
			<%= link_to "Accept It", auditapply_url(@temp_place), :method => :post,	:class => "btn btn-success btn-lg"%>				 
		<% end %>
	<% end %>
	&nbsp; &nbsp;<%= link_to "Delete It",	auditapply_url(@temp_place), :method => :delete, 
			 	:class => "btn btn-danger btn-lg", data: { confirm: 'Are you sure?' } %>
	&nbsp; &nbsp;<%= link_to "Back to Manage", manage_path, :method => :get, :class => "btn btn-primary btn-lg"%>
 </div>
 <br/><br/><br/>

<script>
	var map = new BMap.Map("showmap");
	window.map = map;

	var point = new BMap.Point(126.638718,45.749316);
	map.centerAndZoom(point,17);
	map.setMinZoom(16);
	//map.enableScrollWheelZoom();		//鼠标滚轮缩放
	map.enableContinuousZoom();			//让地图启动滑动效果
	var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
							new BMap.Point(126.647629, 45.756771));
	try {	
		BMapLib.AreaRestriction.setBounds(map, b);
	} catch (e) {
		alert(e);
	}
	map.addControl(new BMap.NavigationControl());	
	map.addControl(new BMap.MapTypeControl());					//添加地图类型控件

	var nowPoint = new BMap.Point(<%= @temp_place.locationx%>, <%= @temp_place.locationy%>);
	var des = new BMap.Marker(nowPoint); 
	map.addOverlay(des);
	map.centerAndZoom(nowPoint, 18);

		//初始化模板选择的下拉框
	var sel = document.getElementById('stylelist');
	var item = new Option("Normal", "normal");
	sel.options.add(item);
	item = new Option("Light", "light");
	sel.options.add(item);
	item = new Option("Midnight", "midnight");
	sel.options.add(item);
	item = new Option("Dark", "dark");
	sel.options.add(item);

	changeMapStyle('normal')
	function changeMapStyle(mystyle){
		map.setMapStyle({style:mystyle});
		$('#desc').html(mapstyles[style].desc);
		return false;
	}

</script>




