<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
  <%= image_tag("bg1.jpg", width: "100%", height: "100%") %>
</div>

<h1>Listing users</h1>

<table>
  <tr>

    <th>ID</th>
    <th>Name</th>
    <th>Password</th>
    <th>Classes</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %> </td>
    <td><%= user.name %></td>
    <td><%= user.password %></td>
    <td><%= user.classes %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<%= link_to 'Home', home_path %>


<table>
  <tr>
    <th>Name</th>
    <th>Classes</th>
    <th>location</th>
    <th>intro</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.classes %></td>
    <td><%= place.locationx %>,<%= place.locationy%></td>
    <td><%= place.intro %></td>
  </tr>
<% end %>
</table>