<br><br><br><br> 	
<h2> Manager Function </h2>
<hr>
<div class="panel panel-primary"  style = "width: 80%">
	<!-- Default panel contents -->
	<div class="panel-heading">
		Places Revision Information
	</div>
	<div class="panel-body">
		There are all the revisions of places information
	</div>

	<!-- Table -->
	<table class="table table-hover table-condensed table-bordered">
		<tr >
			<th>Count</th>
			<th>Source</th>
			<th>Reason</th>
			<th>Status</th>
			<th>Detail</th>
		</tr>
		<% @temp_places.each_with_index do|temp_place, i|%>
			<tr class="list-group-item-info">
				<td  style = "text-align:center"><%= i%> </td>
				<td >
					<% if temp_place.place.nil? %>
						<tardis style = "color:red">Deleted</tardis>
					<% else %> 
						<%= link_to temp_place.place.name, temp_place.place, :method => :get %> 
					<% end %>
				</td>
				<td class = ""><%= temp_place.reason %></td>
				<td>
					<% if temp_place.state == 1 %>
						<state style = "color:green">Accepted </state>
					<% elsif temp_place.state == 0 %> 
						<state style = "color:blue">Pending </state>
					<% elsif temp_place.state == -2 %>
						<state style = "color:red">Reject</state>
					<% else %>
						<state style = "color:yellow">Delete</state>
					<% end %>
				</td>
				<td><%= link_to "Detail", auditapply_url(temp_place), 
						:method => :get, class: "btn btn-primary"%> 
				</td>
			</tr>
		<% end %>
	</table>
</div>


<!-- <h3>Accpted Places Information </h3>
<br>
<% @places_ac.each do|place_ac|%>
	Origin:
	<% if place_ac.place.nil? %>
		It has been deleted! 
	<% else %> 
		<%= link_to place_ac.place.name, place_ac.place, :method => :get %> 
	<% end %>
	<br>
	Update Reason: <%= place_ac.reason %> <br/>
	Detail Information: <%= link_to place_ac.name, auditapply_url(place_ac), :method => :get %> <br/> 
	State: <state style = "color:green">Accepted </state>
	<hr>
<% end %>

<hr>
<h3>Pending Places Information </h3>
<br>
<% @places_pending.each do|place_pending|%>
	Origin: 
	<% if place_pending.place.nil? %>
		It has been deleted!
	<% else %>
		<%= link_to place_pending.place.name, place_pending.place, :method => :get %> 
	<% end %>
	Update Reason: <%= place_pending.reason %> <br/>
	Detail Information: <%= link_to place_pending.name, auditapply_url(place_pending), :method => :get %> <br/> 
	State: <state style = "color:red">pending </state>
	<hr/>
<% end %> -->

<hr>
<%= link_to 'Home', home_path, :method => :get%>
<br><br><br>


<style>
	/*最多显示one or two行，多余的用...代替*/
	.cont_one{ 
		width: 125px;
		text-align: left;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	 }
	.cont_two{    
		width: 140px;
		height: 50px;
		line-height: 25px;
		text-align: left;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
</style>

