
<hr>
<div class="panel panel-warning" style = "width:70%">
	<div class="panel-heading">
		<h3 > Personal Information</h3>
	</div>
	<div class="panel-body row">
		<div class = "col-md-2">
			<%= gravatar_image_tag(@user.email, :alt => @user.nickname, :gravatar => { :size => 120}) %> <br/> <!-- TODO: nickname -->
			<!-- :size => 80 for default, varifies from 15 to 512 -->
		</div>
		<div class = "col-md-4">
			<table class="table table-hover table-condensed table-bordered">
				<tr  class="list-group-item-success">
					<th>Nickname</th>
					<th><%= @user.nickname %></th>
				</tr>
				<tr class="list-group-item-info">
					<th>Email</th>
					<th><%= @user.email%></th>
				</tr>
				<tr  class="list-group-item-success">
					<th>User Type</th>
					<th>
						<% if @user.authority == 1 %>
							admin
						<% else %>
							user
						<% end %>
					</th>
				</tr>
				<tr class="list-group-item-info">
					<th>Contribution</th>
					<th><%= @user.contribution%></th>
				</tr>
			</table>
		</div>
		<div class = "col-md-6">
			<% if @user.authority == 1%>
				<div style = "font-size:20px">
					<br>
					Congratulations, you are the admin!<br>
					But please be careful to use your right!
				</div>
			<% else %>
				<div style = "font-size:1.2em">
					Go to add some new place or update some information of places.
					If your suggests are accepted, your contribution will add 5 per suggest.
					When your contribution<tardis  style = "color:red"> more than  20 </tardis>, 
					you will become the admin!
				</div>
			<% end %>
		</div>
	</div>
</div>

<hr>

<div class="panel panel-success"	style = "width: 70%">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3>Place Created by Me</h3>
	</div>
	<div class="panel-body">
		<% @user.places.each do |place|%>
			<%= link_to place.name, place, :method => :get %> | 
		<% end %>
	</div>
</div>

<div class="panel panel-primary"	style = "width: 70%">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3>My Submission for Updating Places</h3>
	</div>
	<div class="panel-body">
		<% if @user.temp_places.size == 0 %>
			You haven't submited revisions
		<% else %>
			There are all the revisions of places information
		<% end %>

	</div>

	<!-- Table -->
	<table class="table table-hover table-condensed table-bordered">
		<tr >
			<th width="10%"  style="word-break : break-all; overflow:hidden">Count</th>
			<th width="10%"  style="word-break : break-all; overflow:hidden">Status</th>
			<th width="10%"  style="word-break : break-all; overflow:hidden">Source</th>
			<th>Reason</th>
			<th width="10%"  style="word-break : break-all; overflow:hidden">Status</th>
			<th width="10%"  style="word-break : break-all; overflow:hidden">Detail</th>
		</tr>
		<% @user.temp_places.each_with_index do|temp_place, i|%>
			<tr class="list-group-item-info">
				<td	style = "text-align:center"><%= i%> </td>
				<td>
					<% if temp_place.applytype == 1%>
						<tardis style = "color:blue">New Apply</tardis>
					<% else %>
						<tardis style = "color:fuchsia">Update Apply</tardis>
					<% end %>
				</td>
				<td >
					<% if temp_place.place.nil? %>
						<% if temp_place.applytype == 1%>
							-----------
						<% else %>
							<tardis style = "color:red">Deleted</tardis>
						<% end %>
					<% else %> 
						<%= link_to temp_place.place.name, temp_place.place, :method => :get %> 
					<% end %>
				</td>
				<td class = ""><%= temp_place.reason %></td>
				<td>
					<% if temp_place.state == 1 %>
						<state style = "color:green">Accepted </state>
					<% elsif temp_place.state == 0 %> 
						<state style = "color:lime">Pending </state>
					<% elsif temp_place.state == -2 %>
						<state style = "color:purple">Reject</state>
					<% else %>		
						<!-- -1 means the origin has been deleted -->
						<state style = "color:red">Delete</state>
					<% end %>
				</td>
				<td><%= link_to "Detail", auditapply_url(temp_place), 
						:method => :get, class: "btn btn-primary"%> 
				</td>
			</tr>
		<% end %>
	</table>
</div>
<hr><hr>
<div class="panel panel-success"	style = "width: 70%">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h3>My Comments</h3>
	</div>
	<div class="panel-body">
		<% if @user.comments.size == 0 %>
			You have no comments
		<% else %>
			There are all my comments
		<% end %>
	</div>

	<!-- Table -->
	<table class="table table-hover table-condensed table-bordered">
		<tr >
			<th width="10%"  style="word-break : break-all; overflow:hidden">For Place</th>
			<th>Content</th>
			<th width="20%"  style="word-break : break-all; overflow:hidden">Time</th>
			<th>Operation</th>
		</tr>
		<tr></tr>

		<% @user.comments.each do |comment| %>
			<tr>
				<td><%= link_to comment.place.name, comment.place%></td>
				<td><%= comment.content%></td>
				<td><%= time_ago_in_words comment.created_at %> ago</td>
				<td><%= link_to 'Destroy', comment, method: :delete, 
					class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>
</div>
<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', home_path %>
</p>
<hr><hr>

