<% provide(:title, "HIT NAV | Place Information") %> 

<div id="nav">
	<ul class="nav nav-tabs" style = "margin: 0em 10em">
		<% @placeclassify.each do |classify| %>
			<li <%= 'class="active"'.html_safe if @classifychoose == classify[:id] %>>
				<%= link_to classify[:name], classify[:url] %></a></li>
		<% end %>
	</ul>
</div>

<div id="main">
	<br/><br/>
	<% @classifyshow.each_with_index do |classify, nowclass| %>
 		<a name="<%= classify[:id] %>" style="position:relative; top:-50px;"></a>
		<div class="container-thin" >
			<% if @classifychoose == -1 %>
				<div class = "row">
					<div class="col-md-2">
						<div class="image-category">
							<%= image_tag(classify[:imagename]) %>
						</div>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-3">
						<div class="image-category image-more">
							<%= link_to image_tag("more2.png"), classifyshowing_url(classify[:id]) %></a>
						</div>
					</div>
					<div class="col-md-3">
						<br/><br/>
						<span style="text-align:left;color:#009fc6"><h4><b>|</b> 点击排行榜</h4></span>
						<br/>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-9">
					<% classify[:places].each_with_index do |place, cnt| %>
						<% break if (cnt == 3 and @classifychoose == -1)%>
						<div class="col-md-4">
							<section class="placeblock" style = "width: 100%; height: 300px">
								<%= link_to image_tag(place.avatar_url(:big)), place, :class => "image"%>
									<div class="content">
										<div class = "row">	
											<div class = "col-md-10" style = "text-align:left">
												<h5 style="margin:0 0 0 1em"><%= link_to place.name, place, :class => "titlefont"%></h5>
											</div>
											<div class = "col-md-2">
											</div>
										</div>
										<div class = "introfont">
											<p style = "color:#838383;text-align:left; margin: 0 0 0 1em">
												<%= place.intro %>
											</p>
										</div>
										<div class = "buttonrow">
											<div align = "left" class = "col-md-5">
												<div class = "hotshow">Hot: <%= place.hot%></div>
											</div>
											<div class="button col-md-6">
												<%= link_to "Read More", place, :method => :get, style: "color:white;text-decoration: none;"%>
											</div>
										</div>
									</div>
							</section>
						</div>
					<% end %>
				</div>

				<div class="col-md-3">
					<% classify[:places].each_with_index do |place, rank| %>
						<% break if rank == 7 %>
						<div class = "row">	
							<% if rank == 0 %>
								<div style = "height: 50px">
									<div class = "col-md-1">
										<div class = "rankfont" style = "background: #f25d8e"><%= rank  + 1%> </div>
									</div>
									<div class = "col-md-4">
										<a href="#" class="image"><%= image_tag(place.avatar_url(:thumb), :style => "height: 50px; width:70px") if place.avatar %></a> 
										<!--<%= link_to image_tag(place.avatar_url(:thumb), :class => "image", :style => "height: 50px; width:70px"), place%> -->
									</div>
									<div align = "left" class = "col-md-6  titlefont">
										<div class = "row ">&nbsp;&nbsp;&nbsp;<%= link_to place.name, place%></div><br>
										<div class = "row rankhot"> Hot : <%= place.hot %></div>
									</div>
								</div>

							<% elsif rank <= 2 %>
								<div class = "col-md-1">
									<div class = "rankfont" style = "background: #f25d8e"><%= rank  + 1%> </div>
								</div>
								<div class = "col-md-3">
									<!-- <a href="#" class="image"><%= image_tag(place.avatar_url(:thumb), :style => "max-width:90%") if place.avatar %></a> -->
								</div>
								<div align = "left"class = "col-md-7  titlefont">
									<%= link_to place.name, place%>
								</div>
							<% else %>
								<div class = "col-md-1">
									<div class = "rankfont" style = "background: #b8c0cc"><%= rank  + 1%> </div>
								</div>
								<div class = "col-md-3">
									<!-- <a href="#" class="image"><%= image_tag(place.avatar_url(:thumb), :style => "max-width:90%") if place.avatar %></a> -->
								</div>
								<div align = "left"class = "col-md-7">
									<%= link_to place.name, place%>
								</div>
							<% end%>
							<hr>
						</div>
					<% end %>
				</div>
			</div>
<!-- 
			<div class="divider">&nbsp;</div> -->
		</div>
<!-- 
		<div style="height:5px;width:1000px"></div>  <!--tail-->
	<% end %>
</div> <!-- end of main -->

<div id="tail">
	<p>Copyright &copy; Tardis 2015</p>
</div>

<% if @classifychoose == -1 %> <!-- slide-nav showed in index -->
	<div class="index-nav" id="index_nav" style="opacity: 1; display: block; top: 240px; left: 1200px; right: auto;">
		<div class="border"></div>
		<div class="nav-list">
	<!-- 		<div class="n-i sortable on"><div class="name"><%= link_to "Home", :home, :method => :get, :class => "name"%></div></div> -->
			<% @classifyshow.each do |classify| %>
				<div class="n-i sortable"><div class="name"><a href = "#<%= classify[:id] %>" style = "color:#333"><%= classify[:name] %></a></div></div>
			<% end %>
			<div class="pointer-block" style="top: 0px; left: 0px; display: block;"></div>
		</div>
	<!-- 	<div class="n-i gotop">
			<div class="s-line"></div><div class="btn_gotop" title="返回顶部"></div>
		</div> -->
	<!-- 	<div class="n-i n-i-mlink"><a href="#" >  
			<div class="mlink-dl-msg" style="display: none;"></div>
			<div class="n-i-mlink-bg" style="display: block; width: 80px; height: 80px; 
				background-image: url(http://i0.hdslb.com/u_user/nav_float/tv_animate.png); 
				background-position: 0px 0px;">
			</div></a>
		</div> -->

		<!-- target="_blank" -->
	</div>
<% end %>



<style>	
	#nav
	{
		align:center;
		/*background: #fffacd url(<%= asset_path("overlay2.png") %>) repeat;*/
		/*background: #fff;*/
	}
	#main
	{
		position: relative;
		/*background: #fffacd url(<%= asset_path("overlay2.png") %>) repeat;*/
		/*background: #fff;*/
		/*z-index:  -666;*/
	}
	.container-thin
	{
		margin: 0em 0em 4em 0em;
		width: 80%;
		/*background: #fffacd url(<%= asset_path("overlay2.png") %>) repeat;*/
		/*background-color: rgba(255, 250, 205, 0.6);*/
		background-color: rgba(144, 144, 144, 0.075);
		border:1px solid #d1e9e9;
		border-radius: 8px;
	}
	.placeblock
	{
		width:100%;
		height: 20em;
		padding: 0.3em 0.3em 0.3em 0.3em;
		border-radius: 3px;
	}
	.placeblock:hover
	{

		border-color: #87CEFA;
		box-shadow: 0 0 0 2px #87CEFA;
	}

	.image-category
	{
		width:200px;
		position:relative;
		left: 30px; right:0px;
		overflow: hidden;
	}
	.image-more
	{
		left: 5em; 
		top:18px;
	}
	.image
	{
		display: inline-block;
		height: 62%;
		overflow: hidden;
	}
	
	.image img
	{
		display: block;
		width: 100%;
		border-radius: 6px;
	}
	.button
	{
		float: right;
		position: relative;
		display: inline-block;

		margin-right: 1em;
		padding: 0.3em 1em;
		background: #6fb7b7;
		border-radius: 6px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.9em;
		color: #FFF;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		cursor: pointer;
	}

	.button:hover
	{
		background: #009fc6;
		color: #FFF !important;
	}
	#tail
	{
		position: relative;
		padding: 3em 0em;
		background: #ffec8b url(<%= asset_path("overlay.png")%>) repeat center;
		/*background: #ffec8b url(<%= asset_path("img01.jpg")%>) repeat center;*/
	}
	#tail p
	{
		color:#c1cdcd;
	}

	.titlefont{
		color: #444;
		font-size: 13px;
		float: left;
		max-width: 186px;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 700;
	}
	.introfont{
		margin-top: 0.5em;
		line-height: 20px;
		height: 20px;
		color: #666;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.buttonrow{
		margin-top: 0.5em;
	}
	.hotshow{
		display: inline-block;
		background: #ff4883;
		color: #fff;
		height: 18px;
		line-height: 18px;
		margin-right: 5px;
		margin-top: 0.3em;
		padding: 0 1px;
		vertical-align: top;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}
	.rankfont{
		/*background: #f25d8e;*/
		position: absolute;
		color: #fff;
		height: 18px;
		line-height: 17px;
		top: 0;
		left: 0;
		font-size: 15px;
		min-width: 15px;
		text-align: center;
		z-index: 20;
		border-radius: 4px;
		padding: 0 0empx;
		font-weight: bolder;
	}

	.rankhot{
		padding-left: 13px;
		display: block;
		font-family: "microsoft yahei",simhei;
		line-height: 12px;
		color: #99a2aa;
		font-weight: normal;
		height: 12px;
		float: left;
	}

</style>

<style>
/*	.name :focus {
		outline: -webkit-focus-ring-color auto 5px;
	}*/
	.index-nav {
		display: none;
		position: fixed;
		width: 48px;
		z-index: 90;
		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.index-nav .border {
		position: absolute;
		height: 100%;
		width: 100%;
		top: -3px;
		border: 3px solid #fafafa;
		left: -3px;
		border-radius: 4px;
		display: none;
	}

	.index-nav .nav-list {
		position: relative;
		z-index: 233;
		background-color: #f6f9fa;
		border: 1px solid #e5e9ef;
		overflow: hidden;
		border-radius: 4px;
	}
	.index-nav .n-i {
		cursor: pointer;
	}
	.index-nav .pointer-block {
		position: absolute;
		width: 48px;
		height: 32px;
		margin-left: -1px;
		background: #00a1d6;
		z-index: -1;
		transition: .1s all linear;
		display: none;
	}

	.index-nav .n-i.customize {
		padding: 8px 0;
		border-top: 1px solid #e5e9ef;
	}
	.index-nav .n-i {
	cursor: pointer;
	}
/*	.index-nav .n-i:first-child {
	border-top: 0;
	}*/

	.index-nav .n-i.on .name {
	color: #fff;
	}
	.index-nav .n-i .name {
		height: 32px;
		line-height: 32px;
		transition: .1s linear;
		transition-property: background-color,color;
		}
		.index-nav .n-i.gotop {
		border: 0;
		position: relative;
		z-index: 50;
	}

	.btn_gotop {
		height: 48px;
		background: #f6f9fa url(/images/base/icons.png) -648px -72px no-repeat;
		border: 1px solid #e5e9ef;
		overflow: hidden;
		border-radius: 4px;
	}

</style>

<script type="text/javascript"> 
	window.onscroll = function(){ 
		var t = document.documentElement.scrollTop || document.body.scrollTop; 
		var slide_div = document.getElementById( "index_nav" ); 
		if( t >= 250 ) {
			slide_div.style.top ="160px"; 
		} else { 
			slide_div.style.top = "240px"; 
		} 
		// $("qtip").css({top:100px,left:100px})
	} 
</script> 





<!-- <%= stylesheet_link_tag "jquery.min.js" %>
<%= stylesheet_link_tag "place/skel-noscript"%>
<%= stylesheet_link_tag "place/style2"%>
<%= stylesheet_link_tag "place/style-desktop"%>

<%= javascript_include_tag "place/skel.min.js" %>
<%= javascript_include_tag "place/skel-panels.min.js" %>
<%= javascript_include_tag "place/init.js" %> -->

<style>
	/*最多显示one or two行，多余的用...代替*/
	.cont_one{ 
		width: 125px;
		height: 25px;
		line-height: 25px;
		text-align: left;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	 }
	.cont_two{		
		width: 13.5em;
		height: 50px;
		line-height: 25px;
		padding-top: 0.5em;
		text-align: left;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
</style>

<script>
	var map = new BMap.Map("indexmap");
	var point = new BMap.Point(126.638718,45.749316);
	var schoolcenter = new BMap.Point(126.638718,45.749316);
	map.centerAndZoom(point,17);
	map.setMinZoom(16);
	map.addControl(new BMap.MapTypeControl());					//添加地图类型控件
	var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
						new BMap.Point(126.647629, 45.756771));
	try {	
		BMapLib.AreaRestriction.setBounds(map, b);
	} catch (e) {
		alert(e);
	}

	function addMaker(point){
		var marker = new BMap.Marker(point);
		map.addOverlay(marker);
		return marker;
	}
	function addInfoWindow(marker, intro){
		var opts = {
			title: intro[0],
			width: 250,
			height: 200
		}
		var content = intro[1];
		var info = new BMap.InfoWindow(content, opts);
		var openInforWinFun = function(){
			marker.openInfoWindow(info);
		}
		marker.addEventListener("click", openInforWinFun);
		return openInforWinFun;
	}

	function work(){
		<% if @classifychoose >= 0 and @classifyshow.count > 0 %>
			<% @classifyshow[0][:places].each do |place| %>
				var marker = new addMaker(new BMap.Point(<%= place.locationx%>, <%= place.locationy%>));
				var intro = ['<h3><%= place.name%></h3>', '<%= place.intro%><br/><%=link_to "More", place %>'];
				addInfoWindow(marker, intro);
			<% end %>
		<% end %>
	}

	//初始化模板选择的下拉框
	var sel = document.getElementById('stylelist');
	var item = new Option("Normal", "normal");
	sel.options.add(item);
	item = new Option("Light", "light");
	sel.options.add(item);
	item = new Option("Midnight", "midnight");
	sel.options.add(item);
	item = new Option("Dark", "dark");
	sel.options.add(item);
	
	window.reload(work());
	
	changeMapStyle('normal')
	function changeMapStyle(mystyle){
		map.setMapStyle({style:mystyle});
		$('#desc').html(mapstyles[style].desc);
	}	
</script>

