<%= stylesheet_link_tag    "main.css", :media => "all" %>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
  <%= image_tag("bg1.jpg", width: "100%", height: "100%") %>
</div>

<div align = "center row">
	<div class = "col-md-6">
		<h2><%= @place.name %></h2>
		<div = class = "row">
			<div class = "col-md-6" style = "overflow:hidden">
				<%= image_tag(@place.avatar_url(:verybig), :style => "max-width:100%") if @place.avatar%> <br/><br/>
				<h3>Score it:</h3><%= ratings_for @place, :show_user_rating => true %> <br /><br/><br/><br/>
		    	</div>
		  	<div class = "col-md-6">
		        		<h3>Tot Score:</h3> <%= ratings_for @place, :static %><br />
		    		<b>Introduction:</b> <%= @place.intro %><br/><br/><br/><br/><br/><br/>
				<button class = "btn btn-primary btn-lg" onclick = "findPath()">Go here</button>
			</div>
		</div>
		<p>
			<%= link_to "Back", places_path, :method => :get %>
			|
			<%= link_to "Edit", edit_place_path(@place), :method => :get%>
			|
			<%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?" %>
		</p>
	</div>

<div class = "col-md-6">
	<div id="container" class = "col-md-12"
            style="width: 600px; 
                height: 400px; 
                border: 1px solid gray;
                overflow:hidden;">
    </div>
    <%= javascript_include_tag "map.js" %>
    <script>
    	var point = new BMap.Point(<%= @place.locationx%>, <%= @place.locationy%>);
        var des = new BMap.Marker(point); 
        var src = new BMap.Marker(point); 
        map.addOverlay(des);
        map.centerAndZoom(point, 18);
        var Find = 0;
        map.addEventListener("click", function(e){//µØÍ¼µ¥»÷ÊÂ¼þ
        	map.removeOverlay(src);
			var point = new BMap.Point(e.point.lng, e.point.lat);
			var focus = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));   
			map.addOverlay(focus);
			src = focus;
			Find = 1;
		});

        function findPath(){
        	if(Find == 0){
        		alert("Please select the Starting Point first");
        	}
        	else{
        		var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, autoViewport: true}});
				walking.search(src, des);
        	}
		}

    </script>
</div>

</div>




<hr/>

<div class = "row">
	<div class = "col-md-5">
		<h3>Comments</h3>
		<p>
		<% @place.comments.each do |comment| %>
			<%= comment.content %>
			<br>
			<i>By <%= find_user(comment.user_id).name %>
			------<%= time_ago_in_words comment.created_at %> ago</i>
			<hr/>
		<% end %>
		</p>
	</div>
	<div class="col-md-7">
		<p>
		<%= form_for [@place, @place.comments.build] do |f| %>
		<%= f.text_area :content, placeholder: "Enter Your Comments", rows: 10, cols: 3, width: "10"%>
		<br/>
		<%= f.submit "Post Comment", class: "actions special"%>
		<% end %>
		</p>
	</div>
</div>