<div id="banner">
	<div class="container">	
	<!-- Logo -->
		<span class="title-image"><a href="#"><%= image_tag("place2.png") %></a></span>
	
	<!-- Search -->
		<div class="search">
			<%= form_tag places_path, method: :get, class: "" do%>
								<%= text_field_tag :search, params[:search], placeholder: "去哪儿~"%>
								<%= submit_tag ""%>
						<% end %>
				</div>
	</div>
</div>

<div style = "width:80%; background-color: rgba(0, 255, 255, 0.1)">
	<div class = "row">
		<div class = "col-md-12">
			<h2><%= @place.name %></h2>
			<hr>
			<div = class = "row">
				<div class = "col-md-6" style = "overflow:hidden">
					<%= image_tag(@place.avatar_url(:bigest), :style => "max-width:90%") if @place.avatar%> <br/>
					<a data-toggle="modal" href="#showimg" class="btn">view original image</a>
						</div>
					<div class = "col-md-6">
									<div class="input-group" style = "margin: 0em 10em">
								<span class="input-group-addon" id="basic-addon3">
									 &nbsp; &nbsp; Stars&nbsp; &nbsp; </span>
							<button class = "form-control"
								style = "width: 11em" aria-describedby="basic-addon2">
								<%= ratings_for @place, :static, :dimensions => :tot%></button>
						</div>
						<br>
						<div class="input-group" style = "margin: 0em 10em">
								<span class="input-group-addon" id="basic-addon3">
									&nbsp;&nbsp;Score It&nbsp;</span>
							<button class = "form-control"
								style = "width: 11em" aria-describedby="basic-addon2">
								<%= ratings_for @place, :show_user_rating => true %></button>
						</div>
						<hr>
									
						<hr>
						<div class = "row"  style = "margin: 0em 3em">
							<div class = "col-md-6">
								<a href = "#comments">there are <%= @place.comments.size%> comments</a><br/>
								Maker: <%= link_to @place.user.nickname, user_url(@place.user_id) %>
								Classify:<%= @placeclassifyname %>
							</div>
							<div class = "col-md-6">
								<a href = "#showinmap" class = " btn btn-default">Show it in map </a>
							</div>
						</div>
						<br>
						<div class="panel panel-default" style = "text-align:left; margin: 0em 2em">
							<div class="panel-heading">
								<h3 class="panel-title">Introduction</h3>
							</div>
							<div class="panel-body">
								<%=@place.intro %>
							</div>
						</div>
					<hr>
				</div>
			</div>
			<p>
				<%= link_to "Back", places_path, :method => :get %>
				|
				<% if (current_user == @place.user)%>
					<%= link_to "You can edit it", edit_place_path(@place), :method => :get%>
				<% else %>
					<%= link_to "Submit my update application", updateapply_url(@place), :method => :get%>
				<% end %>
				|
				<%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?" %>
			</p>
		</div>
	</div>
	<hr>

	<div id = "showinmap" class = "row">
		<br/><br/>
		<div id="showmap" class = "col-md-8"
							style="width: 600px; 
									height: 400px;
									margin: auto auto auto 2em; 
									border: 1px solid gray;
									overflow:hidden;">
			</div>
			<div class = "col-md-4">
				<div id="r-result" class = "row" style = "margin: 0em 4em">
				<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Choose Map Style</span>
					<select id="stylelist" onchange="changeMapStyle(this.value)" 
						style = "width: 8em" class = "form-control btn btn-default"
						 aria-describedby="basic-addon1"></select>
				</div>
			</div>  
			<br/>
				<div class = "row" style = "margin: 0em 4em">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2">
							&nbsp;&nbsp;Set Start Point &nbsp;&nbsp;&nbsp;</span>
					<button class = "form-control  btn btn-primary" onclick = "findPath()"
						style = "width: 8em" aria-describedby="basic-addon2">
						Go here</button>
				</div>
				</div>
				<br/>
				<div id="showtextroute" style = "margin: 0em 1em"></div>
		</div>
	</div>

	<hr/>

	

	<div id = "comments" class = "row"  style = "margin: 0em 4em">
		<h3>Comments &nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;
				<s1 style = "font-size:10px"><a href = "#">Back </a> </s1> 
		</h3>
		<hr>
		<div class = "col-md-6">
			
			<% @place.comments.each do |comment| %>
				<%= comment.content %>
				<br>
				<i>By <%= link_to find_user(comment.user_id).nickname, user_url(comment.user_id) %> <!--name-->
				------<%= time_ago_in_words comment.created_at %> ago</i>
				<hr/>
			<% end %>
		</div>
		<div class="col-md-6 form-group" >
			<%= form_for [@place, @place.comments.build] do |f| %>
			<%= f.text_area :content, class: "form-control", placeholder: "Enter Your Comments", rows: 10, cols: 50 %>
			<br/>
			<%= f.submit "Post Your Comment", class: "btn btn-default"%>
			<% end %>
		</div>
	</div>

	<!-- 模态框（Modal） -->
	<div id="showimg"  class="modal fade" tabindex="-1" role="dialog" 
			 aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<%= image_tag(@place.avatar_url, :style => "max-width:100%") if @place.avatar%>
						<button type="button" class="btn btn-primary" 
									data-dismiss="modal">OK
						</button>
				</div>
	</div><!-- /.modal -->
</div>

<script>
	var map = new BMap.Map("showmap");
	window.map = map;

	var point = new BMap.Point(126.638718,45.749316);
	var schoolcenter = new BMap.Point(126.638718,45.749316);
	map.centerAndZoom(point,17);
	map.setMinZoom(16);
	//map.enableScrollWheelZoom();    //鼠标滚轮缩放
	map.enableContinuousZoom();      //让地图启动滑动效果
	var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
							new BMap.Point(126.647629, 45.756771));
	try {  
		BMapLib.AreaRestriction.setBounds(map, b);
	} catch (e) {
		alert(e);
	}
	map.addControl(new BMap.NavigationControl());  
	map.addControl(new BMap.MapTypeControl());          //添加地图类型控件

	var nowPoint = new BMap.Point(<%= @place.locationx%>, <%= @place.locationy%>);
	var des = new BMap.Marker(nowPoint); 
	var src = new BMap.Marker(nowPoint); 
	map.addOverlay(des);
	map.centerAndZoom(nowPoint, 18);
	var Find = 0;
	map.addEventListener("click", function(e){
		map.removeOverlay(src);
		var point = new BMap.Point(e.point.lng, e.point.lat);
		var focus = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));   
		map.addOverlay(focus);
		src = focus;
		Find = 1;
	});

	function findPath(){
		if(Find == 0){
			alert("Please select the Starting Point first");
		}
		else{
			var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, panel : "showtextroute", autoViewport: true}});
			walking.search(src, des);
		}
	}

	//初始化模板选择的下拉框
	var sel = document.getElementById('stylelist');
	var item = new Option("Normal", "normal");
	sel.options.add(item);
	item = new Option("Light", "light");
	sel.options.add(item);
	item = new Option("Midnight", "midnight");
	sel.options.add(item);
	item = new Option("Dark", "dark");
	sel.options.add(item);

	changeMapStyle('normal')
	function changeMapStyle(mystyle){
		map.setMapStyle({style:mystyle});
		$('#desc').html(mapstyles[style].desc);
		return false;
	}
</script>



<style>
	.title-image
	{
		width:400px;
		position:absolute;
		margin-top: -55px; margin-bottom: -57px; margin-left: -550px; overflow: hidden;
	}
	.container {
		width: 1200px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#banner
	{
		position: relative;
		padding: 7em 0em;
		background: #ddd url(<%= asset_path("backgroundimage.jpg")%>) no-repeat center;
		background-size: cover;
	}
	.search {
		position: absolute;
		background: #fff; 
		opacity: 0.6; 
		margin-top: 30px; margin-bottom: -57px; margin-left: 850px;
		width: 20%;
		border-radius:5px;
	}
	.search:hover {
		opacity:1;
	}
	.search input[type="text"] {
			margin: 0px 0;
			padding: 6px 10px 6px 15px;
			outline: none;
			color: #5a5a5a;
			background: none;
			border: none;
			width: 89.33333%;
			position: relative;
			font-size: 1em;
			-webkit-appearance: none;
	}
	.search input[type="submit"] {
			background: url(<%= asset_path("search_icon2.png") %>) no-repeat 0px 1px;
			border: none;
			cursor: pointer;
			width: 24px;
			outline: none;
			position: absolute;
			height: 24px;
			top: 3px;
			right: 8px;
	} 
	#mynav
	{
		margin: 0em 6em;
		background: #fff;
	}
	#main
	{
		position: relative;
		background: #ffffe0 url(<%= asset_path("overlay.png") %>) repeat;
	}
</style>
