<%= stylesheet_link_tag    "main.css", :media => "all" %>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
<%= image_tag("bg1.jpg", width: "100%", height: "100%") %> 
</div>

<div class = "row">
  <div class = "col-md-12">
    <h2><%= @place.name %></h2>
    <hr>
    <div = class = "row">
      <div class = "col-md-6" style = "overflow:hidden">
        <%= image_tag(@place.avatar_url(:bigest), :style => "max-width:100%") if @place.avatar%> <br/>
        <a data-toggle="modal" href="#showimg" class="btn">view original image</a>
          </div>
        <div class = "col-md-6">
          <%= ratings_for @place, :static, :dimensions => :tot%>
          <a href = "#comments">there are <%= @place.comments.size%> comments</a><br/>
          Maker: <%=@place.user.email%>
          <hr>
          <div class = "row">
            <div class = "col-md-6">
              Score it: <%= ratings_for @place, :show_user_rating => true %> <br />
            </div>
            <div class = "col-md-6">
              <a href = "#showinmap">Show it in map </a>
            </div>
          </div>
          <hr>
          <div  style = "text-align:left">
          <b>Classify:</b><%= @placeclassifyname %><br/>
          <b>Introduction:</b> <%=@place.intro %>
        </div>
        <hr>
      </div>
    </div>
    <p>
      <%= link_to "Back", places_path, :method => :get %>
      |
      <% if (current_user == @place.user)%>
        <%= link_to "You can edit it", edit_place_path(@place), :method => :get%>
      <% else %>
        <%= link_to "Submit my update application", updateapply_url(@place), :method => :get%>
      <% end %>
      |
      <%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?" %>
    </p>
  </div>
</div>
<hr>
<div id = "showinmap" class = "row">
  <br/><br/>
  <div id="showmap" class = "col-md-7"
    style="width: 600px; height: 400px; border: 1px solid gray;
        overflow:hidden;"></div>
    <div class = "col-md-5">
      <div class = "row">
      <div id="r-result" class = "col-md-5">
        <label>Choose Map Style</label>
        <select id="stylelist" onchange="changeMapStyle(this.value)"></select>
      </div>  
      <div class = "col-md-2"> </div>
      <div class = "col-md-5">
        <label>Set the Start Point</label>
        <button class = "btn btn-primary btn-lg" onclick = "findPath()">Go here</button>
      </div>
    </div>
    <br/>
    <div id="showtextroute"></div>
  </div>
</div>

<hr>
<div id = "comments" class = "row"  >
  <div class = "col-md-5">
    <h3>Comments &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <s1 style = "font-size:10px"><a href = "#">Back </a> </s1> 
    </h3>
    <% @place.comments.each do |comment| %>
      <%= comment.content %>
      <br>
      <i>By <%= find_user(comment.user_id).nickname %> <!--name-->
      ------<%= time_ago_in_words comment.created_at %> ago</i>
      <hr/>
    <% end %>
  </div>
  <div class="col-md-7">
    <p>
    <%= form_for [@place, @place.comments.build] do |f| %>
    <%= f.text_area :content, placeholder: "Enter Your Comments", rows: 10, cols: 3, width: "10"%>
    <br/>
    <%= f.submit "Post Comment", class: "actions special"%>
    <% end %>
    </p>
  </div>
</div>

<!-- 模态框（Modal） -->
<div id="showimg"  class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= image_tag(@place.avatar_url, :style => "max-width:100%") if @place.avatar%>
    <button type="button" class="btn btn-primary" 
      data-dismiss="modal">OK
    </button>
  </div>
</div><!-- /.modal -->

<hr>

<script>
  var map = new BMap.Map("showmap");
  window.map = map;

  var point = new BMap.Point(126.638718,45.749316);
  var schoolcenter = new BMap.Point(126.638718,45.749316);
  map.centerAndZoom(point,17);
  map.setMinZoom(16);
  //map.enableScrollWheelZoom();    //鼠标滚轮缩放
  map.enableContinuousZoom();      //让地图启动滑动效果
  var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
              new BMap.Point(126.647629, 45.756771));
  try {  
    BMapLib.AreaRestriction.setBounds(map, b);
  } catch (e) {
    alert(e);
  }
  map.addControl(new BMap.NavigationControl());  
  map.addControl(new BMap.MapTypeControl());          //添加地图类型控件

  var nowPoint = new BMap.Point(<%= @place.locationx%>, <%= @place.locationy%>);
  var des = new BMap.Marker(nowPoint); 
  var src = new BMap.Marker(nowPoint); 
  map.addOverlay(des);
  map.centerAndZoom(nowPoint, 18);
  var Find = 0;
  map.addEventListener("click", function(e){
    map.removeOverlay(src);
    var point = new BMap.Point(e.point.lng, e.point.lat);
    var focus = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));   
    map.addOverlay(focus);
    src = focus;
    Find = 1;
  });

  function findPath(){
    if(Find == 0){
      alert("Please select the Starting Point first");
    }
    else{
      var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, panel : "showtextroute", autoViewport: true}});
      walking.search(src, des);
    }
  }

  //初始化模板选择的下拉框
  var sel = document.getElementById('stylelist');
  var item = new Option("Normal", "normal");
  sel.options.add(item);
  item = new Option("Light", "light");
  sel.options.add(item);
  item = new Option("Midnight", "midnight");
  sel.options.add(item);
  item = new Option("Dark", "dark");
  sel.options.add(item);

  changeMapStyle('normal')
  function changeMapStyle(mystyle){
    map.setMapStyle({style:mystyle});
    $('#desc').html(mapstyles[style].desc);
  }
</script>