<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<br/><br/>

<div class = "block-one"><!-- block 1 -->
	<div class="row">
		<div class="col-md-3">
			<h2 align="center" class="title"><%= @place.name %></h2>
		</div>
		<div class="col-md-9">
			<h4 align="left"><br/><br/><a href="#" style="text-decoration:none"><span class="kind"><%= @place.placeclassify.name1 %></span></a> &nbsp;&nbsp;<a href="#showinmap" style="text-decoration:none"><span class="kind connect">Show In Map</span></a>&nbsp;&nbsp;<a href="#comments" style="text-decoration:none"><span class="kind connect1">Comments</span></a></h4>
		</div>
		
	</div>
	
	<ul class="messages"><!-- messages -->
		<li><span class="icon fa-book"></span> 评论数: 
			<%= @place.comments.count %></li>&nbsp;&nbsp;&nbsp;
		<li><span class="icon fa-clock-o"></span> 创建时间:
			<%= @place.created_at %></li>&nbsp;&nbsp;&nbsp;
		<li><span class="icon fa-male"></span> 创建人:
			<%= link_to @place.user.nickname, user_url(@place.user_id) %></li>
	</ul>
	<div class="divider">&nbsp;</div>

	<div class = "row"> <!-- ROW 1 -->

		<div class = "col-md-7" style = "overflow:hidden"> <!-- IMAGE -->
			<div class="image-place"><%= image_tag(@place.avatar_url(:bigest), :style => "max-width:90%") if @place.avatar%></div>
			<br/>
			<a data-toggle="modal" href="#showimg" class="mybutton">view original image</a>
		</div>

		<div class = "col-md-5"> <!-- INFO -->
			
			
						
			<!-- some information -->
			<!-- <div class = "row"	style = "margin: 0em 3em">
				<div class = "col-md-6">
					<a href = "#comments">there are <%= @place.comments.size%> comments</a><br/>
					Maker: <%= link_to @place.user.nickname, user_url(@place.user_id) %>
					Classify:<%= @placeclassifyname %>
				</div>
				<div class = "col-md-6">
					<a href = "#showinmap" class = " btn btn-default">Show it in map </a>
				</div>
			</div>
			<br/> -->

			<!-- intro -->
			<div class="content">
				<h2><span class="icon fa-comment"></span> Introduction</h2>
				<p><%= @place.intro %></p>

				<!-- STAR SYSTEM START-->
				<div class="row">
					<div class="col-md-5"><h3><span class="icon fa-star"></span> Stars: </h3></div>
					<div class="col-md-7" style="margin:1.1em 0 0 0"><%= ratings_for @place, :static, :dimensions => :tot%></div>
				</div>
				<div class="row">
					<div class="col-md-5"><h3><span class="icon fa-star-o"></span> Score It: </h3></div>
					<div class="col-md-7" style="margin:1.1em 0 0 0"><%= ratings_for @place, :show_user_rating => true %></div>
				</div>
				<!-- STAR SYSTEM END -->
			</div>			
			<!-- intro end -->


			<div class="links"><!-- links -->
				<% if (current_user == @place.user or (!current_user.nil? and current_user.authority == 1))%>
					<%= link_to "Edit", edit_place_path(@place), :method => :get, class: "button1"%>
				<% else %>
					<%= link_to "Edit Apply", updateapply_url(@place), :method => :get, class: "button1"%>
				<% end %>
				
				<%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?",class: "button1" %>
			</div>


		</div><!-- INFO END -->
	</div> <!-- ROW 1 END -->
<br/><br/>

	<!-- 模态框（Modal） -->
	<div id="showimg" class="modal fade" tabindex="-1" role="dialog" 
			 aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="z-index:10000002">
				<%= image_tag(@place.avatar_url, :style => "max-width:100%") if @place.avatar%>
				<br/><br/>
				<button type = "button" class = "btn btn-primary"
					data-dismiss = "modal">OK
				</button>		
			</div>
	</div><!-- /.modal -->

</div><!-- end of block 1 -->

<section class="two"><!-- 2 -->

	<!-- MAP ROW2 -->
	<div id = "showinmap" class = "row">
		<br/><br/>
		<div id="maptitle">
			<h2><span class="icon fa-map-marker"></span> Map Infromation</h2>
		</div>
		<!-- baidu map -->
		<div id="showmap" class = "col-md-8"
							style="width: 600px; 
									height: 400px;
									margin: auto auto auto 2em; 
									border: 1px solid gray;
									overflow:hidden;">
		</div>

		<!-- map info -->
		<div class = "col-md-4">
			<div id="r-result" class = "row" style = "margin: 0em 4em">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Choose Map Style</span>
					<select id="stylelist" onchange="changeMapStyle(this.value)" 
						style = "width: 8em" class = "form-control btn btn-default"
						 aria-describedby="basic-addon1"></select>
				</div>
			</div>	
			<br/>
			<div class = "row" style = "margin: 0em 4em">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">
						&nbsp;&nbsp;Set Start Point &nbsp;&nbsp;&nbsp;</span>
				<button class = "form-control	btn btn-primary" onclick = "findPath()"
					style = "width: 8em" aria-describedby="basic-addon2">
					Go here</button>
				</div>
			</div>
			<br/>
			<div id="showtextroute" style = "margin: 0em 1em"></div>
		</div>
		<!-- map info end -->

	</div><!-- MAP ROW2 END -->

</section><!-- 2 END -->

<section class="three">
	<div class="block-two">

		<h2><span class="icon fa-comments"></span> Comments For This Place</h2>
		<!-- COMMENT -->
		<div id = "comments" class = "row"	style = "width:80%">
			
			<div class = "row" align = "left">
				<% if @place.comments.size == 0 %>
					<comment style = "font-size: 15px;font-family:'Raleway', Helvetica, sans-serif">
						There are no comments,  you can be the first!
					</comment>
				<% else %>
					<% @place.comments.each do |comment| %>
						<div class = "row">
							<% user = find_user(comment.user_id) %>
							<div class = "col-md-1">
								<%= gravatar_image_tag(user.email, :alt => user.nickname, :gravatar => { :size => 50}, :class => " img-circle") %> <br/> 
							</div>
							<div class = "col-md-11" >
								<div class = "username" style = "margin-left:-2px">
									<%= link_to find_user(comment.user_id).nickname, 
										user_url(comment.user_id) , :style => "color: #969696;font-weight:600"%> <br>
								</div>
								<div class = "comment" style = "font-size: 17px;font-family:'Raleway', Helvetica, sans-serif">
									<%= comment.content %><br>
								</div>
								<div class = "timeago">
									<%= time_ago_in_words comment.created_at %> ago</em><br>
								</div>
							</div>
							
						</div>
						<hr>
					<% end %>
				<% end %>
			</div>
			
			<div class="row form-group" >
				<%= form_for [@place, @place.comments.build] do |f| %>
				<%= f.text_area :content, class: "form-control", placeholder: "Enter Your Comments", rows: 5, cols: 40 %>
				<br/>
				<%= f.submit "Post Your Comment", class: "btn btn-default"%>
				<% end %>
			</div>

		</div><!-- COMMENTS END -->

	</div>

	<div id="tail">
		<br/><br/>
		<p>Copyright &copy; Tardis 2015</p>
	</div>
</section>

<style>
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
.block-one
{
	width:80%; 
	background-color: rgba(0, 255, 255, 0.1);
	background-color: rgba(144, 144, 144, 0.075);
	border:1px solid #d1e9e9;
	border-radius: 8px;
	margin: 0em 0 5em 0;
	position: relative;
}
.two
{
	padding: 5.5em 0 5.5em 0;
	background-color: #d1eeee;
}
.three
{
	padding: 5.5em 0 5.5em 0;
	background-color: #1E2832;
}
.block-two
{
	width:80%; 
	background-color: rgba(255, 255, 255, 0.8);
/*	background-color: rgba(144, 144, 144, 0.8);*/
	border:1px solid #d1e9e9;
	border-radius: 8px;
	margin: 0em 0 0em 0;
	position: relative;
}
#showinmap
{
	width:80%;
	background-color:rgba(255,255,255,1);
	border-radius: 8px;
	padding: 0.2em 1em 2.5em 1em;
	border:1px solid #d1e9e9;
}
.title{
	margin:1em auto 1em 0em;
	/*color:#009fc6;*/
	color:#5b5b5b;
}
.kind
{
	border-color:#a5a9ad;
	color:#a5a9ad;
	box-shadow: 0 0 0 1px #a5a9ad;
	background: transparent;
	border-radius: 5px;
	font-size: 0.8em;
	padding:0.2em 0.2em 0.2em 0.2em;
}
.connect
{
	border-color:#87cefa;
	color:#87cefa;
	box-shadow: 0 0 0 1px #87cefa;
}
.connect:hover
{
	background: #fff;
	box-shadow: 0 0 0 2px #87cefa;
}
.connect1
{
	border-color:#009fc6;
	color:#009fc6;
	box-shadow: 0 0 0 1px #009fc6;
}
.connect1:hover
{
	background: #fff;
	box-shadow: 0 0 0 2px #009fc6;
}
/*.connect1
{
	border-color:#1E2832;
	color:#1E2832;
	box-shadow: 0 0 0 1px #1E2832;
}
.connect1:hover
{
	background: #fff;
	box-shadow: 0 0 0 2px #1E2832;
}*/
.messages {
	color: #a5a9ad;
	font-size: 1em;
	margin: 0em 0 1em 4em;
	padding: 0;
	text-align: left;
}

.messages li {
	display: inline-block;
	list-style: none;
	margin: 0 0.1em;
}
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.divider
{
	overflow: hidden;
	border-top: 1px solid #dbdbdb;
	margin:0 3em 0 3em;
}
.image-place
{
	margin-left: 1em;
	display: inline-block;
	height: 100%;
	overflow: hidden;
}

.image-place img
{
	display: block;
	width: 100%;
	border-radius: 6px;
	max-height: 28em;
	overflow:hidden;
}

.mybutton
{
	position: relative;
	display: inline-block;
	margin-top: 0.3em;
	margin-right: 0em;
	padding: 0.3em 1em;
	background: #b2dfee;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #FFF;
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	cursor: pointer;
}

.mybutton:hover
{
	background: #009fc6;
	color: #FFF !important;
	text-decoration: none;
}
.links
{
	max-height: 3.5em;
	text-align: center;
	margin:0 4em 0 0;
}
.button1
{
	border-color:#555;
	color:#555;
	box-shadow: 0 0 0 1px #555;
	background: transparent;
	border-radius: 8px;
	font-size: 1.2em;
	padding:0.3em 1.5em 0.3em 1.5em;
	margin:1em 1em 0 1em;
}
.button1:hover
{
	background: rgba(255, 255, 255, 1);
	color: #555 !important;
	text-decoration: none;
	box-shadow: 0 0 0 2px #555;	
}
.content
{
	text-align: left;
	height:24.5em;
	background-color: rgba(255, 255, 255, 0.3);
	margin:0 4em 0 0;
	border-radius: 10px;
	padding: 0 1em 0 1em;
}
.content h2
{
	color: #555;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: 400;
	line-height: 2.5em;
	text-align: left;
}
.content h3
{
	color: #555;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: 400;
	line-height: 2.3em;
	text-align: left;
}
.content p
{
	color: #878787;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.4em;
}
#maptitle
{
	text-align: center;
	height:4em;
	margin:0 0em 3em 0;
	padding: 0 1em 0 1em;
}
#maptitle h2
{
	color: #555;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 28pt;
	font-weight: 500;
	line-height: 2em;
}
.block-two h2
{
	color: #000;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: 500;
	line-height: 2em;
	text-align: center;
	padding-right: 16em;
	padding-top: 1em;
	padding-bottom: 0.6em;
}
#tail
{
	position: relative;
	padding: 0em 0em;
}
#tail p
{
	color:#fff;
	font-family: "Raleway", Helvetica, sans-serif;
}

</style>

<script>
	var map = new BMap.Map("showmap");
	window.map = map;

	var point = new BMap.Point(126.638718,45.749316);
	var schoolcenter = new BMap.Point(126.638718,45.749316);
	map.centerAndZoom(point,17);
	map.setMinZoom(16);
	//map.enableScrollWheelZoom();		//鼠标滚轮缩放
	map.enableContinuousZoom();			//让地图启动滑动效果
	var b = new BMap.Bounds(new BMap.Point(126.627938, 45.74145),
							new BMap.Point(126.647629, 45.756771));
	try {	
		BMapLib.AreaRestriction.setBounds(map, b);
	} catch (e) {
		alert(e);
	}
	map.addControl(new BMap.NavigationControl());	
	map.addControl(new BMap.MapTypeControl());					//添加地图类型控件

	var nowPoint = new BMap.Point(<%= @place.locationx%>, <%= @place.locationy%>);
	var des = new BMap.Marker(nowPoint); 
	var src = new BMap.Marker(nowPoint); 
	map.addOverlay(des);
	map.centerAndZoom(nowPoint, 18);
	var Find = 0;
	map.addEventListener("click", function(e){
		map.removeOverlay(src);
		var point = new BMap.Point(e.point.lng, e.point.lat);
		var focus = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));	 
		map.addOverlay(focus);
		src = focus;
		Find = 1;
	});

	function findPath(){
		if(Find == 0){
			alert("Please select the Starting Point first");
		}
		else{
			var walking = new BMap.WalkingRoute(map, {renderOptions:{map: map, panel : "showtextroute", autoViewport: true}});
			walking.search(src, des);
		}
	}

	//初始化模板选择的下拉框
	var sel = document.getElementById('stylelist');
	var item = new Option("Normal", "normal");
	sel.options.add(item);
	item = new Option("Light", "light");
	sel.options.add(item);
	item = new Option("Midnight", "midnight");
	sel.options.add(item);
	item = new Option("Dark", "dark");
	sel.options.add(item);

	changeMapStyle('normal')
	function changeMapStyle(mystyle){
		map.setMapStyle({style:mystyle});
		$('#desc').html(mapstyles[style].desc);
		return false;
	}
</script>

<style>
	.username{
		margin-left: 10px;
	}
	.comment{
		font-size: 18px;
	}
	.timeago{
		color: #fff;
	}
</style>

