<!DOCTYPE html>

<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<!--
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3cRFcokpwq7uPqnafOYNOfKX"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
--> 
      <!--  <%= stylesheet_link_tag "ajaxful_rating" %>
    <%= stylesheet_link_tag "bootstrap.css", :media => "all" %> -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    
<!-- 
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
-->
    <%= yield :head %>
    
    <%= javascript_include_tag "application" %>
    <!--<%= javascript_include_tag :defaults %>-->
    <%= ajaxful_rating_style %>
    <%= csrf_meta_tags %>
</head>
<body  style="min-width:1200px">
        <div style="position:absolute">
             <%= render 'layouts/header' %>
        </div>
   <!--  <br/><br/> -->
    <!-- <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

  <!--   <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> -->

    
        <div align = "center">
            <%= yield %>
        </div>
  <!--   <%= render 'layouts/footer' %> -->
  <!--   </div> -->
</body>

</html>
